<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Comparison System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{{ url_for('home') }}" id="home" class="logo">Twogether</a>
        </div>
        <div class="nav-options">
            <div class="dropdown">
                <button class="dropbtn">Services</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('text_comparison') }}">Text Similarity</a>
                    <a href="{{ url_for('file_comparison') }}">Semantic Similarity</a>
                </div>
            </div>
        </div>
        <div class="user-logo">U</div>
    </nav>

    <div class="full-width-title">
        <div class="title-content">
            <h1>Curriculum Comparison System</h1>
        </div>
    </div>

    <main class="home-main">
        <div class="square-button-wrapper">
            <a href="{{ url_for('text_comparison') }}" class="square-button text-compare">
                <span>Text Similarity</span>
            </a>
            <a href="{{ url_for('file_comparison') }}" class="square-button file-compare">
                <span>Semantic Similarity</span>
            </a>
        </div>
    </main>

    <script src="/static/script1.js"></script>
</body>

</html>